$white: rgb(255, 255, 255);
$black: rgb(26, 26, 26);
$outlined: rgb(233, 233, 233);
$primary: rgb(33, 20, 206);
$gray: rgb(206, 206, 206);
$secondary: #5a5959;
$background: #f5f5f5;
$danger: red;
$verydanger: rgb(184, 1, 1);
