@use "colors.scss";
body {
    min-height: 100vh;
    background-color: colors.$background;
    font-weight: 400; /* Normal weight */
}

/* Apply different font weights to specific elements */
h1 {
    font-weight: 700; /* Bold weight */
}

h2 {
    font-weight: 500; /* Medium weight */
}

p,
a,
td {
    font-weight: 400; /* Light weight */
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input,
td,
th {
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.container {
    margin: 1rem auto;
    width: 1100px;
    max-width: 100%;
}

header {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .main-nav {
        padding: 10px;
        max-width: 99%;
        overflow-x: auto;
    }
    .inner-nav {
        display: flex;
        gap: 1rem;
        color: colors.$black;
        > * {
            white-space: nowrap;
        }
        a {
            color: colors.$black;
            text-decoration: none;
        }
        a:hover {
            color: colors.$primary;
        }
        p:hover {
            color: colors.$primary;
            cursor: pointer;
        }
        .active {
            padding-bottom: 0.2rem;
            border-bottom: 1px solid black;
        }
    }
}

main {
    padding: 10px;
}

.white .box {
    -webkit-box-shadow: 5px 5px 50px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 50px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 50px 7px rgba(0, 0, 0, 0.3);
}
.error-container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
}
.error {
    color: red;
    padding-bottom: 5px;
}

.loading {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4,
h5 {
    padding: 0.5rem;
}

.align-left {
    width: 100%;
    justify-content: flex-start;
    display: flex;
}
.align-center {
    width: 100%;
    justify-content: center;
    display: flex;
}

.pt-1 {
    padding-top: 1rem;
}

.tiptap {
    :first-child {
        margin-top: 0;
    }

    /* List styles */
    ul,
    ol {
        padding: 0 1rem;
        margin: 1.25rem 1rem 1.25rem 0.4rem;

        li p {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }
    }

    /* Heading styles */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.1;
        margin-top: 2.5rem;
        text-wrap: pretty;
    }

    h1,
    h2 {
        margin-top: 3.5rem;
        margin-bottom: 1.5rem;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    h4,
    h5,
    h6 {
        font-size: 1rem;
    }

    /* Code and preformatted text styles */
    code {
        background-color: var(--purple-light);
        border-radius: 0.4rem;
        color: var(--black);
        font-size: 0.85rem;
        padding: 0.25em 0.3em;
    }

    pre {
        background: var(--black);
        border-radius: 0.5rem;
        color: var(--white);
        font-family: "JetBrainsMono", monospace;
        margin: 1.5rem 0;
        padding: 0.75rem 1rem;

        code {
            background: none;
            color: inherit;
            font-size: 0.8rem;
            padding: 0;
        }
    }

    blockquote {
        border-left: 3px solid var(--gray-3);
        margin: 1.5rem 0;
        padding-left: 1rem;
    }

    hr {
        border: none;
        border-top: 1px solid var(--gray-2);
        margin: 2rem 0;
    }
}

.dropdown-spacing {
    padding: 1rem;
    margin-top: 1rem;
}

.content-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    @media only screen and (max-width: 420px) {
        flex-direction: column;
        margin-bottom: 0;
    }
}

.flex {
    display: flex;
}
.content-box {
    background-color: colors.$white;
    border-radius: 10px;
    border: 1px solid colors.$gray;
    display: flex;
    flex-direction: column;
    > * {
        border-bottom: 1px solid colors.$gray;
    }
    :last-child {
        border-bottom: none;
    }
}

.flexGap {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.p-1 {
    padding: 1rem;
}

.text-center {
    text-align: center;
}

.edit {
    display: inline;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 5px;
    > * {
        color: colors.$primary;
    }
}
.edit:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.delete {
    display: inline;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 5px;
    > * {
        color: colors.$danger;
    }
}
.delete:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.pagination-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.clickable:hover {
    cursor: pointer;
    color: colors.$primary;
}

.icon-container {
    min-width: 60px;
    gap: 0;
    padding: 0;
    margin: 0;
    align-items: center;
    overflow: visible;
}

td {
    font-size: 0.5em;
}

.sort-table {
    th,
    td {
        font-size: 0.85em;
    }
}

@media only screen and (max-width: 700px) {
    p,
    input,
    button {
        font-size: 0.95em;
    }
    h4 {
        font-size: 1em;
    }
    h5 {
        font-size: 0.956em;
    }
    h6 {
        font-size: 0.9em;
    }

    td,
    th {
        font-size: 0.9em;
    }
    .sort-table {
        th,
        td {
            font-size: 0.7em;
        }
    }
}
