@use "../../styles/colors.scss";

.desktopView {
    display: flex;
    gap: 1rem;

    .left {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .right {
        flex: 3;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 0.5rem;
        > div {
            width: 100%;
            padding: 1rem;
        }
    }
}

.mobileView {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.messageContainer {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
}
.messages {
    max-height: 300px;
    overflow-y: auto;
    min-height: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    > :nth-child(even) {
        background-color: rgba(0, 0, 0, 0.05);
    }
    > :nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.1);
    }
    > .me {
        background-color: rgba(2, 90, 14, 0.1);
    }
}
.message {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-radius: 5px;
    width: 100%;
    .messageHeader {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        border-bottom: 1px solid colors.$gray;
    }
    .messageContent {
        padding: 0.5rem;
    }
}

.replyContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}
.replyContainer > * {
    flex: 4;
}

.reply {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    :hover {
        cursor: pointer;
        color: colors.$primary;
    }
}

.deleteMessage {
    display: inline;
    color: colors.$danger;
    :hover {
        color: colors.$verydanger;
        cursor: pointer;
    }
}
