@use "../../styles/colors.scss";

.overview {
    background-color: colors.$white;
    border: 1px solid colors.$gray;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
    align-items: center;

    > div {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

.edit {
    display: inline;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 5px;
    > * {
        color: colors.$primary;
    }
}
.edit:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.delete {
    display: inline;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 5px;
    > * {
        color: colors.$danger;
    }
}
.delete:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
