@use "../../styles/colors.scss";

.overview {
    background-color: colors.$white;
    border: 1px solid colors.$gray;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
    align-items: center;

    > div {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}
